<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.timkrest.framehud.FrameHudInstaller"
            android:authorities="${applicationId}.framehud-installer"
            android:exported="false" />

        <provider
            android:name="com.timkrest.framehud.internal.ExportFileProvider"
            android:authorities="${applicationId}.framehud.exports"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/framehud_export_paths" />
        </provider>
    </application>

</manifest>
